html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #002e74;
}

.wrapper {
  position: relative;
  min-width: 840px;
  min-height: 602px;
  margin: auto;
}

.background {
  width: 840px;
  height: 602px;
  margin: auto;
  z-index: 0;
  position: relative;
}

.topper {
  background-color: #757676;
  height: 27px;
  width: 822px;
  opacity: 0.7;
  position: absolute;
  /* top: 0px; 
  z-index: 10; */
  top: 12px;
  left: 10px;
  border-radius: 5px;
  text-align: center;
}

.header {
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 340px;
  color: black;
}

.mini {
  background-color: #a2c0fd;
  border: 2px solid #3f517a;
  border-radius: 5px;
  color: #012367;
  height: 22px;
  width: 22px;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 836px;
}

.close {
  background-color: #a2c0fd;
  border: 2px solid #3f517a;
  border-radius: 5px;
  color: #012367;
  height: 22px;
  width: 22px;
  font-size: 20px;
  position: relative;
  top: 0px;
  /*15*/
  right: 812px;
}

.side {
  background-color: #97cbff;
  width: 210px;
  /*215*/
  height: 536px;
  /*676*/
  border: 9px solid #55709d;
  border-radius: 12px;
  position: absolute;
  top: 43px;
  /*60*/
  left: 10px;
}

.logo3 {
  width: 150px;
  position: absolute;
  top: 10px;
  left: 30px;
}

.play {
  background: linear-gradient(#2d6ac0, #41bbda);
  color: #002e74;
  border-color: #c4ced2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 75px;
  /*Same*/
  height: 75px;
  font-size: 35px;
  border-radius: 35px;
  position: absolute;
  top: 165px;
  left: 70px;
  border-width: 4px;
}

.welcome {
  color: #002e72;
  width: 190px;
  height: 35px;
  position: absolute;
  bottom: 221px;
  left: 10px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  z-index: 3;
}

.Exp {
  color: #002e72;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  position: absolute;
  bottom: 177px;
  left: 10px;
  z-index: 3;
  box-shadow: 0 0 3px 1px white;
}

.Down {
  color: #002e72;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  position: absolute;
  left: 10px;
  bottom: 133px;
  z-index: 3;
}

.Content {
  color: #002e72;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  position: absolute;
  left: 10px;
  bottom: 89px;
  z-index: 3;
}

.Uploads {
  color: #002e72;
  width: 190px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(#b4ccff, #75a1ff);
  border: 1px solid #002e72;
  position: absolute;
  left: 10px;
  bottom: 45px;
  z-index: 3;
}

.version {
  color: #1b3f86;
  position: absolute;
  left: 80px;
  bottom: 23px;
}

.info {
  color: #1b3f86;
  position: absolute;
  left: 60px;
  bottom: 2px;
}

.promo {
  position: absolute;
  left: 10px;
  top: 125px;
  /*190*/
  height: 410px;
  /*50 dif --> width*/
  width: 330px;
  /*- 2*/
  /*315*/
  z-index: 2;
}

.second {
  position: absolute;
  top: -6px;
  left: 225px;
  background-color: #42669f;
  border: 2px solid #384d7b;
  border-radius: 5px;
  width: 578px;
  height: 544px;
  /*541*/
  z-index: 1;
  opacity: 0.9;
}

.point {
  position: absolute;
  top: 3px;
  right: 6px;
  color: #1e3c79;
  font-size: 25px;
  z-index: 3;
  /* box-shadow: 0 0 3px 3px white; */
}

.blue {
  position: absolute;
  top: 322px;
  left: 7px;
  width: 220px;
  height: 40px;
  background-color: #42669f;
  /* #58729d*/
  border-radius: 5px;
  z-index: 2;
  opacity: 0.9;
}

.third {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 513px;
  width: 550px;
  background-color: #a5ddff;
  border: 6px solid #384d7b;
  border-radius: 5px;
}

.tOne {
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 17px;
}

.tcircle {
  position: absolute;
  top: 30px;
  left: 7px;
  width: 533px;
  height: 2px;
  border: 2px solid #749bc0;
  border-radius: 5px;
}

.tTwo {
  position: absolute;
  top: 48px;
  left: 10px;
  color: #504c5e;
  font-size: 11.2px;
}

.tBox {
  position: absolute;
  top: 120px;
  height: 390px;
  width: 546px;
  background-color: #b5e7ff;
  border: 1px solid #336186;
  border-radius: 5px;
  z-index: 3;
}

.active {
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 10px;
  font-size: 12.5px;
  /*12*/
  height: 23px;
  /*21*/
  width: 80px;
  background: linear-gradient(#e5fcff, #b7e0ff, #86b6e8);
  border: 0.5px solid #336186;
  border-top-left-radius: 5px;
}

.act {
  position: absolute;
  top: 5px;
  left: 26px;
  /*22*/
}

.title {
  position: absolute;
  top: 55px;
  left: 85px;
  font-size: 13px;
  height: 23px;
  width: 420px;
  background: linear-gradient(#e5fcff, #b7e0ff, #86b6e8);
  border: 0.5px solid #336186;
  border-top-right-radius: 5px;
}

.tit {
  position: absolute;
  top: 5px;
  right: 203px;
}

.checklist {
  position: absolute;
  left: 10px;
  top: 79px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 495px;
  height: 255px;
  border: 0.5px solid #336186;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.checkOne {
  background-color: #d2ebf7;
  border: 0.5px solid #b3c8d2;
  width: 493px;
  /*79*/
  height: 65px;
}

.Amb {
  position: absolute;
  bottom: 187px;
  left: 70px;
  z-index: 2;
}

.Oone {
  position: absolute;
  top: 10px;
  left: 150px;
  color: black;
  font-size: 13px;
}

.Otwo {
  position: absolute;
  top: 32px;
  left: 150px;
  color: #504c5e;
  font-size: 11.2px;
}

.checkTwo {
  position: absolute;
  top: 67px;
  left: 0px;
  background-color: #d2ebf7;
  border: 0.5px solid #b3c8d2;
  width: 493px;
  height: 65px;
}

.Tone {
  position: absolute;
  top: 10px;
  left: 150px;
  color: black;
  font-size: 13px;
}

.Ttwo {
  position: absolute;
  top: 32px;
  left: 150px;
  color: #504c5e;
  font-size: 11.2px;
}

.Gen {
  position: absolute;
  bottom: -3px;
  left: 75px;
  z-index: 2;
  height: 72px;
}

.checkThree {
  position: absolute;
  top: 134px;
  background-color: #d2ebf7;
  border: 0.5px solid #b3c8d2;
  width: 493px;
  height: 65px;
}

.Pets {
  position: absolute;
  top: -2px;
  left: 70px;
  z-index: 2;
}

.tone {
  position: absolute;
  top: 10px;
  left: 150px;
  color: black;
  font-size: 13px;
}

.ttwo {
  position: absolute;
  top: 32px;
  left: 150px;
  color: #504c5e;
  font-size: 11.2px;
}

.checkFour {
  position: absolute;
  top: 200px;
  z-index: 1;
  background-color: #d2ebf7;
  border: 0.5px solid #b3c8d2;
  width: 493px;
  height: 65px;
}

.Sea {
  position: absolute;
  top: -2px;
  left: 65px;
  z-index: 2;
}

.Fone {
  position: absolute;
  top: 10px;
  left: 150px;
  color: black;
  font-size: 13px;
}

.Ftwo {
  position: absolute;
  top: 32px;
  left: 150px;
  color: #504c5e;
  font-size: 11.2px;
}

.checkFive {
  position: absolute;
  top: 266px;
  z-index: 1;
  background-color: #d2ebf7;
  border: 0.5px solid #b3c8d2;
  width: 493px;
  height: 65px;
}

.Show {
  position: absolute;
  bottom: -1px;
  left: 73px;
  z-index: 2;
  height: 70px;
}

.fone {
  position: absolute;
  top: 10px;
  left: 150px;
  color: black;
  font-size: 13px;
}

.ftwo {
  position: absolute;
  top: 32px;
  left: 150px;
  color: #504c5e;
  font-size: 11.2px;
}

input[type="checkbox"] {
  position: absolute;
  top: 15px;
  left: 27px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  accent-color: white;
} 

.tWord {
  position: absolute;
  bottom: 25px;
  right: 140px;
  color: #504c5e;
  font-size: 11px;
  z-index: 3;
}

.tButton {
  position: absolute;
  bottom: 18px;
  right: 20px;
  background: linear-gradient(#e5fcff, #b7e0ff, #86b6e8);
  border: 0.5px solid #336186;
  height: 25px;
  /*25*/
  width: 111px;
  /*111*/
  font-size: 12.4px;
  z-index: 3;
  border-radius: 5px;
  color: #002e74;
}

.line {
  border-left: 2px solid #c2d9e4;
  z-index: 3;
  height: 332px;
  width: 278px;
  position: absolute;
  top: 0px;
  left: 79px;
}
.yellowBackground{
   background-color: #fef8b4;
}


.checklist::-webkit-scrollbar {
  width: 12px;
  border-radius: 4px;
}

.checklist::-webkit-scrollbar-thumb {
  background: linear-gradient(#9bbfff, #5e8ddd, #5b8ada);
  border: 1.5px solid #4f6cac;
}

.checklist::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background-color: #d2ebf7;
}

.checklist::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#a4c9ff, #b0d8ff, #9ec9fa, #8db8f1, #6a99ea, #608fe2);
}

.welcome:hover {
  background: #6c9cff;
}

.Exp:hover {
  background: #6c9cff;
}

.Down:hover {
  background: #6c9cff;
}

.Content:hover {
  background: #6c9cff;
}

.Uploads:hover {
  background: #6c9cff;
}

.checkOne:hover {
  background-color: #e6f4fb;
}

.checkTwo:hover {
  background-color: #e6f4fb;
}

.checkThree:hover {
  background-color: #e6f4fb;
}

.checkFour:hover {
  background-color: #e6f4fb;
}

.checkFive:hover {
  background-color: #e6f4fb;
}

/* Late Night 
  University Life 
  Into the Future 
  Supernatural Life 
  Want to add a windows background and icon
*/